{% extends "bootstrap/base.html" %}
{% block title %}Daily Question{% endblock %}

{% block styles %}
{{super()}}
<style type="text/css">body{padding-top: 50px;}</style>
{% endblock styles %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <a class="navbar-brand" href="#">Daily Question</a>
      <a href="first_question" class="btn btn-default navbar-btn">First Question</a>
    </div>
  </div>
</div>
{% endblock navbar %}

{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon" sizes="152x152"
  href="{{ url_for('static', filename='apple-touch-icon-precomposed.png') }}">
{% endblock head %}

{% block content %}
<div class="container">
  <h3>Are you ready for the first question?</h3> (<i>Press the button above</i>)
</div>
{% endblock content %}
