{% extends "bootstrap/base.html" %}

{% block title %}Daily Question{% endblock %}

{% block styles %}
{{super()}}
<style type="text/css">body{padding-top: 50px;}</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Daily Question</a>
    </div>
  </div>

</div>
{% endblock %}

{% block content %}
<div class="container">
  <h3 style="color:blue">{{ questions.second_question }}</h3>
  (<i>Echo their response as best you can -- don't rephrase.</i>)
  <h4>Anything else?</h4>
  (<i>Continue echoing.</i>)
  <h4>I want to acknowledge you for ...</h4>
  (<i>Make anything up, based on their response or anything else that occurs to you.</i>)<br/>
  (<i>That's all!</i>)
</div>
{% endblock %}
